body{
    background-color: black;
}

.uno{
    display: flex;
    align-items: end;
    margin: 0px;
    width: 1350px;
height: 148px;
flex-shrink: 0;
z-index: 10;
background: #ffffff;
}

#dondevendemos{
    position: sticky;

    left: 69rem;
    width: 200px;
height: 100px;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}

#nombre {
    
    margin-bottom: 0;
    position: sticky;
    left: 400px;
    width: 33rem;
    height: 7.375rem;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: -150px;
    
}

#logo{
    margin: 0;
    position: absolute;
    left: 430px;
}

#comprar{
    margin: 0;
    position: sticky;
    width: 21.0625rem;
height: 3.75rem;
flex-shrink: 0;
color: #000;
text-align: center;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 45px;
left: 0px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
