<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/templates/1.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="uno">
        <a id="comprar" href="https://www.google.com/">comprar</a>
        <h1 id="nombre">MEDO</h1>
        <a id="dondevendemos" href="https://www.google.com/">donde vendemos</a>
    </div>
    <img id="logo" src="/esperimentos/1/watermark_preview_image20230629-19617-51de9f-removebg-preview - copia.png" width="450">
</body>
</html>
